* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
  background-color: #f5f5dc;
}

ul {
  list-style-type: none;
}

#theme li {
  font-size: 25px;
  padding: 3px 15px;
}

#messages {
  margin: 0;
  padding: 0;
}
#messages li {
  font-size: 16px;
  padding: 10px 15px;
}
#messages li:nth-child(odd) {
  background: #eee;
}

#main {
  background-color: white;
  width: 80%;
  height: 500px;
}

#theme_num {
  width: 100px;
}

#empty-error {
  color: red;
}

.box {
  float: left;
}

.boxContainer {
  overflow: hidden;
}
